<header id="header" class="header ">
    <div class="container">
        <div class="group">
            <div class="logo">
                <a href="https://irice.ru/" class="logo-img">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 277.8 186.01">
                        <defs></defs>
                        <title>logo</title>
                        <path class="cls-1" d="M28.2,3.14a13.22,13.22,0,0,1,13.2,13.4c0,9.2-6.6,14.4-13.2,14.4-7.8,0-14.4-5.2-14.4-14.4C13.8,8.34,20.4,3.14,28.2,3.14Zm-12,45.8h23v90h-23Z" transform="translate(-13.8 -3.14)"></path>
                        <path class="cls-1" d="M48.2,48.94h23v8.8c4.2-5.8,9.8-10.4,20.6-10.4,7.4,0,11,1.2,14,3.4l-8.2,21.6c-4.4-2.6-6.8-3.4-11.6-3.4-8,0-12.2,4.4-14.8,9.6v60.4h-23Z" transform="translate(-13.8 -3.14)"></path>
                        <path class="cls-1" d="M114.4,3.14a13.22,13.22,0,0,1,13.2,13.4c0,9.2-6.6,14.4-13.2,14.4-7.8,0-14.4-5.2-14.4-14.4C100,8.34,106.6,3.14,114.4,3.14Zm-12,45.8h23v90h-23Z" transform="translate(-13.8 -3.14)"></path>
                        <path class="cls-1" d="M213.39,125.54c-7.6,10.2-21.2,15.6-35.8,15.6-29.2,0-48.8-18.8-48.8-47.2,0-26.2,19.2-47.2,46.6-47.2,14.8,0,27.8,3.8,36.2,12.2l-10.8,18.2c-6.8-6.6-14.2-8.8-22.4-8.8-12.8,0-25,9.8-25,25.6,0,16,12.4,25.8,26,25.8,9.8,0,17.4-4.6,23.2-11Z" transform="translate(-13.8 -3.14)"></path>
                        <path class="cls-1" d="M284.2,129.94c-9,7.6-21.8,11.2-34.4,11.2-29,0-48.4-18.8-48.4-47.2,0-26.2,18-47.2,47.6-47.2,23.2,0,42.6,16.6,42.6,41.8,0,5.6-.4,9-1.4,12.4h-65c2,13.6,12.8,21,27,21,11,0,20.2-4,25.4-8.2Zm-59.8-44.4h44.2c.2-11-7.4-19.6-20.6-19.6C234.2,65.94,226.8,73.74,224.4,85.54Z" transform="translate(-13.8 -3.14)"></path>
                        <path class="cls-1" d="M15.85,160.76h3.2v12.08a8.57,8.57,0,0,1,5.88-2.4c4.68,0,7.48,2.36,7.48,8v10.32h-3.2v-9.88c0-3.6-1.72-5.44-5-5.44a7.13,7.13,0,0,0-5.12,2.28v13h-3.2Z" transform="translate(-13.8 -3.14)"></path>
                        <path class="cls-1" d="M49.85,170.35c5.76,0,9.6,4,9.6,9.4s-3.84,9.4-9.6,9.4-9.6-4-9.6-9.4S44.09,170.35,49.85,170.35Zm0,15.8a6.4,6.4,0,0,0,0-12.8,6.4,6.4,0,0,0,0,12.8Z" transform="translate(-13.8 -3.14)"></path>
                        <path class="cls-1" d="M94.26,188.75h-3.2V177.83c0-3-1.28-4.4-3.88-4.4a5.35,5.35,0,0,0-4.72,2.6c0,.32,0,.88,0,1.28v11.44H79.3v-11.6a3.48,3.48,0,0,0-3.84-3.72,5.82,5.82,0,0,0-4.72,2.44v12.88h-3.2v-18h3.2V173a8,8,0,0,1,6-2.6c2.8,0,4.76,1.24,5.44,3.12a7.65,7.65,0,0,1,6.32-3.12c3.32,0,5.8,1.6,5.8,6.52Z" transform="translate(-13.8 -3.14)"></path>
                        <path class="cls-1" d="M118.61,186.79a10.25,10.25,0,0,1-6.76,2.36c-5.84,0-9.64-3.72-9.64-9.4,0-5.24,3.36-9.4,9.28-9.4a8,8,0,0,1,8.36,8.24,10.42,10.42,0,0,1-.2,2.16H105.81c.28,3.4,2.76,5.4,6.28,5.4a8.31,8.31,0,0,0,5.52-1.88Zm-13-8.64h10.92c-.16-3-2.08-4.8-5.2-4.8A5.4,5.4,0,0,0,105.61,178.15Z" transform="translate(-13.8 -3.14)"></path>
                    </svg>
                </a>
                <span class="logo-slogan">Дизайнерская мебель из Италии</span>
            </div>

            <div class="head-menu">
                <div class="menu-icon-wrap">
                    <span class="menu-icon">
                        <i class="icon svg-icon-menu"></i>
                        <svg class="icon" viewBox="0 0 35 24" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H35V4H0V0ZM0 10H35V14H0V10ZM25.4545 20H0V24H25.4545V20Z"/>
                        </svg>
                    </span>
                </div>

                <div class="menu-wrapper-fixed">
                    <div class="menu-open-wrapper">
                        <nav class="header-nav">
                            <ul class="menu">
                                <li><a href="https://irice.ru/catalog-main/">Каталог</a></li>
                                <li><a href="https://irice.ru/about/">О нас</a></li>
                                <li><a href="/">Фабрики</a></li>
                                <li><a href="https://irice.ru/actions/">Акции</a></li>
                                <li><a href="https://irice.ru/contacts/">Контакты</a></li>
                            </ul>
                        </nav>

                    </div>
                </div>

                <div class="head-phone"><a href="tel:+7 (812) 920-51-25" class="head-phone-number">+7 (812) 920-51-25</a></div>

                <a href="#" class="head-cart">
                    <svg class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V2.4H2.4L6.72 11.508L5.088 14.448C4.908 14.784 4.8 15.18 4.8 15.6C4.8 16.92 5.88 18 7.2 18H21.6V15.6H7.704C7.536 15.6 7.404 15.468 7.404 15.3C7.404 15.24 7.416 15.192 7.44 15.156L8.52 13.2H17.46C18.36 13.2 19.152 12.696 19.56 11.964L23.856 4.2C23.94 4.008 24 3.804 24 3.6C24 2.94 23.46 2.4 22.8 2.4H5.052L3.924 0H0ZM19.2 19.2C17.868 19.2 16.8 20.268 16.8 21.6C16.8 22.92 17.88 24 19.2 24C20.52 24 21.6 22.92 21.6 21.6C21.6 20.268 20.52 19.2 19.2 19.2ZM4.8 21.6C4.8 20.268 5.868 19.2 7.2 19.2C8.52 19.2 9.6 20.268 9.6 21.6C9.6 22.92 8.52 24 7.2 24C5.88 24 4.8 22.92 4.8 21.6Z" />
                    </svg>
                    <span class="head-cart__text">Корзина</span>
                </a>
            </div>
        </div>
    </div>
</header>

<div id="main">
    <div class="section-st-light">
        <div class="bl-tiles-wrapper">
            <div class="container">
                <div class="bl-tiles group">
                    <div class="bl-tile-item">
                        <a href="https://irice.ru/catalog/kuhni/">
                            <span class="catalog-icon">
                                <svg width="30" height="26" viewBox="0 0 30 26" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.28601 1.2155C1.28601 1.2155 13.8051 1.2155 18.7854 1.2155C23.7658 1.2155 28.7462 1.2155 28.7462 1.2155V6.72391C28.7462 6.72391 27.5352 6.72391 18.7854 6.72391C10.0357 6.72391 1.28601 6.72391 1.28601 6.72391V1.2155Z" stroke-width="2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.28601 14.8707C1.28601 14.8707 13.8051 14.8707 18.7854 14.8707C23.7658 14.8707 28.7462 14.8707 28.7462 14.8707V24.8274C28.7462 24.8274 27.5352 24.8274 18.7854 24.8274C10.0357 24.8274 1.28601 24.8274 1.28601 24.8274V14.8707Z" stroke-width="2"/>
                                    <path d="M18.5522 6.6045V1.20973" stroke-width="2"/>
                                    <path d="M17.2985 3.33682V4.48739" stroke-width="2"/>
                                    <path d="M19.806 3.33682V4.48739" stroke-width="2"/>
                                    <path d="M8.94031 14.8833V24.7912" stroke-width="2"/>
                                    <path d="M18.5522 14.9009V24.7958" stroke-width="2"/>
                                    <path d="M1.34021 17.5517H9.28922" stroke-width="2"/>
                                    <path d="M17.2985 19.0475V20.6801" stroke-width="2"/>
                                    <path d="M19.806 19.0475V20.6801" stroke-width="2"/>
                                    <path d="M4.90179 15.8966H5.48282" stroke-width="2"/>
                                    <path d="M13.538 14.5865V11.7863L13.7549 11.334L13.9539 10.9076L14.4243 10.5226L14.813 10.3124L15.1998 10.3135L15.6312 10.7224L16.0709 11.1727L16.4522 11.7798L16.4653 12.5237" stroke-width="2"/>
                                </svg>
                            </span>
                            <span class="site-h4-tt">Кухни</span>
                        </a>
                    </div>
                    <div class="bl-tile-item">
                        <a href="https://irice.ru/catalog/spalni/">
                            <span class="catalog-icon">
                                <svg width="22" height="26" viewBox="0 0 22 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3206 4.21618V0.999924H19.3601V6.4446" stroke-width="2"/>
                                    <path d="M1.98157 4.22192V1.00005H9.0203V4.2163" stroke-width="2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.8432 7.85198V24.8371H1V4.21623H16.6625L20.8432 7.85198Z" stroke-width="2"/>
                                    <path d="M16.3631 4.22192V7.97741H20.8432" stroke-width="2" stroke-linejoin="round"/>
                                    <path d="M20.8432 20.8458H1" stroke-width="2" stroke-linejoin="round"/>
                                </svg>
                            </span>
                            <span class="site-h4-tt">Спальни</span>
                        </a>
                    </div>
                    <div class="bl-tile-item">
                        <a href="https://irice.ru/catalog/ctolovye-gruppy/">
                            <span class="catalog-icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="2.73001" y="20.13" width="2.7" height="0.6"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24 23.79V12.33V11.73V9.02999H4.35V1.64999H6.69L6.18 2.15999C6.09 2.24999 6.06 2.42999 6.15 2.54999L7.23 4.19999V4.37999C7.23 5.18999 7.53 5.93999 8.1 6.50999L8.19 6.59999C8.25 6.65999 8.31 6.68999 8.4 6.68999C8.49 6.68999 8.55 6.65999 8.61 6.59999L12.45 2.75999C12.51 2.69999 12.54 2.63999 12.54 2.54999C12.54 2.45999 12.51 2.39999 12.45 2.33999L12.36 2.24999C11.79 1.67999 11.04 1.37999 10.23 1.37999H10.05L8.4 0.299993C8.28 0.209993 8.13 0.239993 8.01 0.329993L7.26 1.07999H4.32C3.99 1.07999 3.72 1.34999 3.72 1.67999V9.05999H0V11.76V12.36V23.82H8.46V12.33H23.4V23.79H24ZM11.82 2.51999L8.4 5.93999C8.01 5.48999 7.83 4.94999 7.83 4.37999C7.83 3.71999 8.07 3.11999 8.55 2.66999C9 2.21999 9.6 1.94999 10.26 1.94999C10.83 1.94999 11.37 2.12999 11.82 2.51999ZM9.24 1.52999L8.31 0.899993L6.78 2.39999L7.41 3.35999C7.56 2.93999 7.8 2.57999 8.13 2.24999C8.43 1.91999 8.82 1.67999 9.24 1.52999ZM0.6 15.09H7.86V17.19H0.6V15.09ZM0.6 17.79V23.19H7.86V17.79H0.6ZM7.86 14.49H0.6V12.33H7.86V14.49ZM0.6 11.73H8.46H23.4V9.62999H0.6V11.73Z"/>
                                </svg>
                            </span>
                            <span class="site-h4-tt">Столовые группы</span>
                        </a>
                    </div>
                    <div class="bl-tile-item">
                        <a href="https://irice.ru/catalog/myagkaya-mebel/">
                            <span class="catalog-icon">
                            <!--?xml version="1.0" encoding="UTF-8"?--> <svg viewBox="0 0 90 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">     <!-- Generator: Sketch 60 (88103) - https://sketch.com -->     <title>noun_Sofa_51195</title>     <desc>Created with Sketch.</desc>     <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">         <g id="noun_Sofa_51195" fill="#000000" fill-rule="nonzero">             <path d="M89.459,5.668 C89.035,5.184 88.434,4.933 87.767,4.933 L84.481,4.933 C83.891,4.933 83.376,5.117 82.883,5.469 L82.883,4.211 C82.883,2.33 81.183,0.695 79.246,0.695 L60.982,0.695 C59.71,0.695 58.293,1.442 57.556,2.575 C57.355,2.26 57.098,1.969 56.791,1.707 C56.032,1.061 55.065,0.694 54.141,0.694 L35.878,0.694 C34.954,0.694 33.996,1.058 33.249,1.706 C32.95,1.965 32.7,2.261 32.504,2.574 C31.757,1.442 30.324,0.694 29.037,0.694 L10.774,0.694 C8.824,0.694 7.089,2.329 7.089,4.21 L7.089,5.461 C6.695,5.113 6.119,4.932 5.538,4.932 L2.253,4.932 C1.583,4.932 0.979,5.185 0.553,5.671 C0.126,6.158 -0.067,6.815 0.022,7.484 L1.878,21.655 C1.873,21.685 1.867,21.718 1.867,21.759 L1.867,21.866 C1.867,23.239 3.043,24.446 4.432,24.446 L7.091,24.446 L7.091,26.782 C7.091,27.061 7.307,27.304 7.587,27.304 L10.621,27.304 C10.9,27.304 11.132,27.061 11.132,26.782 L11.132,24.446 L78.843,24.446 L78.843,26.782 C78.843,27.061 79.114,27.304 79.393,27.304 L82.427,27.304 C82.706,27.304 82.883,27.061 82.883,26.782 L82.883,24.446 L85.59,24.446 C86.949,24.446 88.008,23.263 88.008,21.866 L88.008,21.854 C88.107,21.821 88.055,21.78 88.061,21.735 L89.979,7.485 C90.067,6.813 89.886,6.155 89.459,5.668 Z M60.982,1.68 L79.245,1.68 C80.644,1.68 81.897,2.869 81.897,4.211 L81.897,13.253 C81.207,12.563 80.258,12.127 79.253,12.127 L60.99,12.127 C60.065,12.127 59.089,12.493 58.325,13.138 C58.228,13.22 58.143,13.302 58.045,13.389 L58.045,4.21 C58.045,2.815 59.658,1.68 60.982,1.68 Z M32.017,15.641 C32.017,15.92 32.243,16.151 32.523,16.151 C32.802,16.151 33.029,15.918 33.029,15.639 C33.029,14.368 34.444,13.113 35.886,13.113 L54.148,13.113 C55.465,13.113 57.055,14.245 57.055,15.641 C57.055,15.92 57.282,16.151 57.561,16.151 C57.84,16.151 58.067,15.918 58.067,15.639 C58.067,14.243 59.666,13.113 60.99,13.113 L79.253,13.113 C80.592,13.113 81.799,14.208 81.897,15.477 L81.897,15.675 C81.897,15.701 81.897,15.725 81.897,15.75 L81.897,19.617 L8.174,19.617 L8.174,15.648 C8.174,14.306 9.371,13.112 10.782,13.112 L29.044,13.112 C30.382,13.113 32.017,14.284 32.017,15.641 Z M35.878,1.68 L54.141,1.68 C55.458,1.68 57.06,2.815 57.06,4.211 L57.06,13.354 C56.272,12.589 55.18,12.128 54.149,12.128 L35.886,12.128 C34.867,12.128 33.799,12.59 33.011,13.357 L33.011,4.211 C33.011,2.939 34.436,1.68 35.878,1.68 Z M10.774,1.68 L29.036,1.68 C30.374,1.68 32.025,2.854 32.025,4.211 L32.025,13.395 C31.926,13.304 31.832,13.22 31.731,13.135 C30.955,12.492 29.971,12.127 29.044,12.127 L10.782,12.127 C9.76,12.127 8.765,12.572 8.174,13.275 L8.174,4.211 C8.174,2.869 9.363,1.68 10.774,1.68 Z M10.145,26.32 L8.075,26.32 L8.075,24.447 L10.145,24.447 L10.145,26.32 Z M81.897,26.32 L79.926,26.32 L79.926,24.447 L81.897,24.447 L81.897,26.32 Z M88.987,7.344 L87.08,21.534 C87.058,21.587 87.022,21.665 87.022,21.76 L87.022,21.867 C87.022,22.706 86.391,23.363 85.589,23.363 L4.43,23.363 C3.604,23.363 2.851,22.678 2.851,21.867 L2.851,21.802 C2.851,21.755 2.887,21.678 2.876,21.589 L1.017,7.344 C0.965,6.957 1.072,6.597 1.31,6.325 C1.541,6.061 1.879,5.918 2.253,5.918 L5.539,5.918 C6.363,5.918 7.09,6.649 7.09,7.456 L7.09,15.675 C7.09,15.7 7.09,15.725 7.09,15.749 L7.09,20.101 C7.09,20.38 7.348,20.603 7.627,20.603 L82.385,20.603 C82.664,20.603 82.883,20.38 82.883,20.101 L82.883,15.649 C82.883,15.579 82.883,15.51 82.883,15.441 L82.883,7.456 C82.883,6.648 83.645,5.918 84.481,5.918 L87.767,5.918 C88.139,5.918 88.47,6.059 88.699,6.321 C88.936,6.593 89.039,6.955 88.987,7.344 Z" id="Shape"></path>         </g>     </g> </svg>                            </span>
                            <span class="site-h4-tt">Мягкая мебель</span>
                        </a>
                    </div>
                    <div class="bl-tile-item">
                        <a href="https://irice.ru/catalog/gostinye/">
                            <span class="catalog-icon">
                                <svg width="37" height="26" viewBox="0 0 37 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.78882 14.0689C7.78882 12.2056 6.26931 10.6944 4.39486 10.6944C2.52042 10.6944 1.00012 12.2056 1.00012 14.0689C1.00012 15.0793 1.44687 15.9865 2.15479 16.605C2.31821 16.7486 2.49707 16.8761 2.68701 16.9863V24.8626H7.78882" stroke-width="2"/>
                                    <path d="M28.9725 14.0689C28.9725 12.2056 30.492 10.6944 32.3665 10.6944C34.2409 10.6944 35.7612 12.2056 35.7612 14.0689C35.7612 15.0793 35.3144 15.9865 34.6065 16.605C34.4431 16.7486 34.2646 16.8761 34.0747 16.9863V24.8626H28.9725" stroke-width="2"/>
                                    <path d="M28.9636 16.6052V4.51782C28.9636 4.51782 29.3051 1.00005 25.7778 1.00005H10.8855C7.35737 1.00005 7.69926 4.51782 7.69926 4.51782V16.6052" stroke-width="2"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M28.9636 24.8625V17.7467C28.9636 17.7467 29.3051 14.2293 25.7778 14.2293H10.8855C7.35737 14.2293 7.69926 17.7467 7.69926 17.7467V24.8625H28.9636Z" stroke-width="2"/>
                                    </svg>
                            </span>
                            <span class="site-h4-tt">Гостиные</span>
                        </a>
                    </div>
                    <div class="bl-tile-item">
                        <a href="https://irice.ru/catalog/prihozhie/">
                            <span class="catalog-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 336 496">   <path d="M328,0 L8,0 C3.581722,0 0,3.581722 0,8 L0,464 C0,468.418278 3.581722,472 8,472 L8,488 C8,492.418278 11.581722,496 16,496 L40,496 C43.4419144,496 46.4963557,493.793549 47.584,490.528 L53.76,472 L282.24,472 L288.416,490.528 C289.503644,493.793549 292.558086,496 296,496 L320,496 C324.418278,496 328,492.418278 328,488 L328,472 C332.418278,472 336,468.418278 336,464 L336,8 C336,3.581722 332.418278,0 328,0 Z M16,456 L16,400 L320,400 L320,456 L16,456 Z M320,16 L320,384 L176,384 L176,16 L320,16 Z M16,16 L160,16 L160,384 L16,384 L16,16 Z M34.232,480 L24,480 L24,472 L36.896,472 L34.232,480 Z M312,480 L301.768,480 L299.104,472 L312,472 L312,480 Z"></path>   <path d="M208 416L128 416C123.581722 416 120 419.581722 120 424 120 428.418278 123.581722 432 128 432L208 432C212.418278 432 216 428.418278 216 424 216 419.581722 212.418278 416 208 416zM136 168C131.581722 168 128 171.581722 128 176L128 256C128 260.418278 131.581722 264 136 264 140.418278 264 144 260.418278 144 256L144 176C144 171.581722 140.418278 168 136 168zM200 264C204.418278 264 208 260.418278 208 256L208 176C208 171.581722 204.418278 168 200 168 195.581722 168 192 171.581722 192 176L192 256C192 260.418278 195.581722 264 200 264z"></path> </svg>                            </span>
                            <span class="site-h4-tt">Прихожие</span>
                        </a>
                    </div>
                    <div class="bl-tile-item">
                        <a href="https://irice.ru/catalog/vannye-komnaty/">
                            <span class="catalog-icon">
                                <svg width="32" height="26" viewBox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.69786 11.1382H30.4721L30.7882 11.6557L30.9981 12.2357V13.0186L30.6681 13.4189L30.3109 13.7488H1.85228L1.44878 13.5235L1.0751 13.0122V12.1686L1.24171 11.5606L1.69786 11.1382Z" stroke-width="2"/>
                                    <path d="M1.88148 13.8006C2.97281 18.4426 5.57391 22.5211 5.57391 22.5211H26.1553C26.1553 22.5211 28.7614 18.9185 30.2316 13.8106" stroke-width="2"/>
                                    <path d="M3.82549 10.9573V2.61649L4.22707 1.94974L4.73487 1.44546L5.10504 1.16052L6.38351 1.18719L6.75843 1.59843L7.07923 1.98193L7.43483 2.48084V3.66812L6.43762 3.66015L6.00017 4.10235L5.82543 4.61506V5.27853H9.25367L9.24089 4.49903L8.59754 3.66812H7.43483" stroke-width="2"/>
                                    <path d="M6.72149 24.7658L8.7347 22.7526" stroke-width="2"/>
                                    <path d="M25.4759 24.8549L23.5094 22.8884" stroke-width="2"/>
                                </svg>

                            </span>
                            <span class="site-h4-tt">Ванные комнаты</span>
                        </a>
                    </div>
                    <div class="bl-tile-item">
                        <a href="https://irice.ru/catalog/">
                            <span class="catalog-icon">

                            </span>
                            <span class="site-h4-tt">Столовые группы</span>
                        </a>
                    </div>
                    <div class="bl-tile-item">
                        <a href="https://irice.ru/catalog/">
                            <span class="catalog-icon">

                            </span>
                            <span class="site-h4-tt">Мягкая мебель</span>
                        </a>
                    </div>
                    <div class="bl-tile-item">
                        <a href="https://irice.ru/catalog/">
                            <span class="catalog-icon">

                            </span>
                            <span class="site-h4-tt">Свет</span>
                        </a>
                    </div>
                    <div class="bl-tile-item">
                        <a href="https://irice.ru/catalog/">
                            <span class="catalog-icon">

                            </span>
                            <span class="site-h4-tt">Аксессуары</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="catalog-head">
                <h1>Спальни Италия</h1>
                <div class="catalog-head__aside">
                    <div class="catalog-filter-btn">
                        <i class="svg-icon-filter-variant"></i>
                    </div>
                    <button type="button" class="catalog-sort-btn">
                        Сортировать по цене
                        <svg class="icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19 0H14V16H19V0ZM12 5H7V16H12V5ZM0 10H5V16H0V10Z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="st-inner-bl">
                <div class="catalog-two-columns group">
                    <div class="aside-catalog" data-s="" data-pr="" data-in="0" data-url="/catalog/spalni/">
                        <div class="aside-catalog-inner">
                            <div class="mobile-filter-head">
                                <div class="site-h3-tt">Фильтровать</div>
                                <button class="mobile-filter-close"></button>
                            </div>
                            <div class="filter-categories aside-catalog-nav">
                                <div class="aside-catalog-nav__inner-list cat-nav--open">
                                    <span class="site-h5-tt">Категория</span>
                                    <ul class="aside-catalog-nav-list">
                                        <li>
                                            <div class="filter-check catalog-nav--checked" data-id="13">Кровати <span class="aside-c-nav-value">1872</span></div>
                                        </li>
                                        <li>
                                            <div class="filter-check" data-id="14">Прикроватные тумбочки <span class="aside-c-nav-value">1019</span></div>
                                        </li>
                                        <li>
                                            <div class="filter-check" data-id="15">Шкафы и гардеробные <span class="aside-c-nav-value">1021</span></div>
                                        </li>
                                        <li>
                                            <div class="filter-check" data-id="16">Комоды <span class="aside-c-nav-value">1252</span></div>
                                        </li>
                                        <li>
                                            <div class="filter-check catalog-nav--checked" data-id="17">Туалетные столики <span class="aside-c-nav-value">347</span></div>
                                        </li>
                                        <li>
                                            <div class="filter-check catalog-nav--checked" data-id="18">Зеркала <span class="aside-c-nav-value">1001</span></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="aside-catalog-nav">
                                <div class="aside-catalog-nav__inner-list cat-nav--open">
                                    <span class="site-h5-tt">Стиль</span>
                                    <ul class="filter-styles aside-catalog-nav-list">
                                        <li style="">
                                            <div class="filter-check" data-id="3" data-skey="klassika">
                                                Классика <span class="aside-c-nav-value">3346</span>
                                            </div>
                                        </li>
                                        <li style="">
                                            <div class="filter-check" data-id="2" data-skey="art-deko-glamur">
                                                Арт-деко, гламур <span class="aside-c-nav-value">1416</span>
                                            </div>
                                        </li>
                                        <li style="">
                                            <div class="filter-check" data-id="1" data-skey="sovremennyy">
                                                Современный <span class="aside-c-nav-value">1793</span>
                                            </div>
                                        </li>
                                        <li style="">
                                            <div class="filter-check catalog-nav--checked" data-id="4" data-skey="loft">
                                                Лофт <span class="aside-c-nav-value">78</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="aside-catalog-nav">
                                <div class="aside-catalog-nav__inner-list cat-nav--open">
                                    <span class="site-h5-tt">Цена, ₽ </span>
                                    <div class="filter-price">
                                        <div class="filter-price-col">
                                            <input type="text" placeholder="от 199 000" name="">
                                        </div>
                                        <div class="filter-price-col">
                                            <input type="text" placeholder="до 20 000 000" name="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="aside-catalog-nav aside-catalog-nav-check">
                                <label>
                                    <input type="checkbox" id="cnav"> В наличии
                                </label>
                            </div>

                            <div class="aside-catalog-nav">
                                <div class="reset-f-wrapper">
                                    <button type="reset" class="reset-f site-h5-tt">Сбросить фильтр</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-catalog">
                        <div class="catalog-products" id="products-list">
                            <div class="prod-inline-wrapp">
                                <div class="prod-inline-item">
                                    <a href="https://irice.ru/catalog/spalni/krovati/_2/" class="block-car-img hor img-show-effect show-animation hidden visible animated">
                                        <img src="./Купить итальянскую мебель в спальню_ в наличии и на заказ, цены в СПб_files/tmb_156526012420.jpg" alt="Кровать DESIDERI GOLD">
                                    </a>
                                    <div class="p-item-label-wrap"></div>
                                    <div class="car-bottom-info">
                                        <span class="site-h5-tt"><a href="https://irice.ru/catalog/spalni/krovati/_2/">Кровать DESIDERI GOLD <span class="car-prod-name">Tosato</span></a>
                                        </span>
                                        <span class="car-price">от 186 500 руб</span>
                                        <a href="#" class="prod-cart-icon">
                                            <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V2.4H2.4L6.72 11.508L5.088 14.448C4.908 14.784 4.8 15.18 4.8 15.6C4.8 16.92 5.88 18 7.2 18H21.6V15.6H7.704C7.536 15.6 7.404 15.468 7.404 15.3C7.404 15.24 7.416 15.192 7.44 15.156L8.52 13.2H17.46C18.36 13.2 19.152 12.696 19.56 11.964L23.856 4.2C23.94 4.008 24 3.804 24 3.6C24 2.94 23.46 2.4 22.8 2.4H5.052L3.924 0H0ZM19.2 19.2C17.868 19.2 16.8 20.268 16.8 21.6C16.8 22.92 17.88 24 19.2 24C20.52 24 21.6 22.92 21.6 21.6C21.6 20.268 20.52 19.2 19.2 19.2ZM4.8 21.6C4.8 20.268 5.868 19.2 7.2 19.2C8.52 19.2 9.6 20.268 9.6 21.6C9.6 22.92 8.52 24 7.2 24C5.88 24 4.8 22.92 4.8 21.6Z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>

                                <div class="prod-inline-item">
                                    <a href="https://irice.ru/catalog/spalni/krovati/_2/" class="block-car-img hor img-show-effect show-animation hidden visible animated">
                                        <img src="./Купить итальянскую мебель в спальню_ в наличии и на заказ, цены в СПб_files/tmb_151520016995.jpg" alt="Кровать THIAGO">
                                    </a>
                                    <div class="p-item-label-wrap"></div>
                                    <div class="car-bottom-info">
                                        <span class="site-h5-tt"><a href="https://irice.ru/catalog/spalni/krovati/_2/">Кровать DESIDERI GOLD <span class="car-prod-name">Tosato</span></a>
                                        </span>
                                        <span class="car-price">от 186 500 руб</span>
                                        <a href="#" class="prod-cart-icon">
                                            <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V2.4H2.4L6.72 11.508L5.088 14.448C4.908 14.784 4.8 15.18 4.8 15.6C4.8 16.92 5.88 18 7.2 18H21.6V15.6H7.704C7.536 15.6 7.404 15.468 7.404 15.3C7.404 15.24 7.416 15.192 7.44 15.156L8.52 13.2H17.46C18.36 13.2 19.152 12.696 19.56 11.964L23.856 4.2C23.94 4.008 24 3.804 24 3.6C24 2.94 23.46 2.4 22.8 2.4H5.052L3.924 0H0ZM19.2 19.2C17.868 19.2 16.8 20.268 16.8 21.6C16.8 22.92 17.88 24 19.2 24C20.52 24 21.6 22.92 21.6 21.6C21.6 20.268 20.52 19.2 19.2 19.2ZM4.8 21.6C4.8 20.268 5.868 19.2 7.2 19.2C8.52 19.2 9.6 20.268 9.6 21.6C9.6 22.92 8.52 24 7.2 24C5.88 24 4.8 22.92 4.8 21.6Z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>

                                <div class="prod-inline-item">
                                    <a href="https://irice.ru/catalog/spalni/krovati/_2/" class="block-car-img hor img-show-effect show-animation hidden visible animated">
                                        <img src="./Купить итальянскую мебель в спальню_ в наличии и на заказ, цены в СПб_files/tmb_156526012420.jpg" alt="Кровать DESIDERI GOLD">
                                    </a>
                                    <div class="p-item-label-wrap"></div>
                                    <div class="car-bottom-info">
                                        <span class="site-h5-tt"><a href="https://irice.ru/catalog/spalni/krovati/_2/">Кровать DESIDERI GOLD <span class="car-prod-name">Tosato</span></a>
                                        </span>
                                        <span class="car-price">от 186 500 руб</span>
                                        <a href="#" class="prod-cart-icon">
                                            <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V2.4H2.4L6.72 11.508L5.088 14.448C4.908 14.784 4.8 15.18 4.8 15.6C4.8 16.92 5.88 18 7.2 18H21.6V15.6H7.704C7.536 15.6 7.404 15.468 7.404 15.3C7.404 15.24 7.416 15.192 7.44 15.156L8.52 13.2H17.46C18.36 13.2 19.152 12.696 19.56 11.964L23.856 4.2C23.94 4.008 24 3.804 24 3.6C24 2.94 23.46 2.4 22.8 2.4H5.052L3.924 0H0ZM19.2 19.2C17.868 19.2 16.8 20.268 16.8 21.6C16.8 22.92 17.88 24 19.2 24C20.52 24 21.6 22.92 21.6 21.6C21.6 20.268 20.52 19.2 19.2 19.2ZM4.8 21.6C4.8 20.268 5.868 19.2 7.2 19.2C8.52 19.2 9.6 20.268 9.6 21.6C9.6 22.92 8.52 24 7.2 24C5.88 24 4.8 22.92 4.8 21.6Z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-right">
                        <div class="pagination">
                            <span class="pagin-txt">Страницы</span>
                            <ul class="pagination-list">
                                <li class="active">1</li>
                                <li><a href="https://irice.ru/catalog/spalni/?page=2">2</a></li>
                                <li><a href="https://irice.ru/catalog/spalni/?page=3">3</a></li>
                                <li><a href="https://irice.ru/catalog/spalni/?page=4">4</a></li>
                                <li><a href="https://irice.ru/catalog/spalni/?page=5">5</a></li>
                                <li>...</li>
                                <li><a href="https://irice.ru/catalog/spalni/?page=272">272</a></li>
                            </ul>
                            <div class="st-arrow"><a href="https://irice.ru/catalog/spalni/?page=2" class="st-next"><i class="svg-icon-arrow-thin"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>